fastapi==0.110.0
uvicorn==0.23.2
praw==7.7.1
pytrends==4.9.0
pandas==2.3.1
--only-binary=:all: pandas
textblob==0.17.1
cachetools==5.3.2
aiohttp
python-dotenv==1.0.1
nltk==3.8.1
vaderSentiment==3.3.2
langdetect==1.0.7
deep-translator==1.11.4
